
<div class="col-md-12 row" >
    <div class="col-md-7 vh-100">
        <div class="d-flex align-items-center justify-content-center vh-100">
            <img src="assets/loginImage.jpg" class="img-fluid" alt="">
        </div>        
    </div>
    <div class="col-md-5 bg-primary bg-gradient">
        <div class="d-flex flex-column align-items-center justify-content-center vh-100"> 
            <h3 class="text-white">Welcome</h3>
        <p class="text-white">Login To Your Account</p>
        
        <div class=" col-md-8">
            <label class="form-label text-white" for="">Username:</label>
            <div class="d-flex align-items-center">
                <i class="fa fa-user pe-2 fa-lg text-white"></i>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class=" col-md-8 mt-3">
            <label class="form-label text-white" for="">Password:</label>
            <div class="d-flex align-items-center">
                <i class="fa fa-user pe-2 fa-lg text-white"></i>
                <input class="form-control" type="text">
            </div>
        </div>
        
        <div class="col-md-4 mt-3" >
            <button type="button" class="btn btn-danger w-100 rounded rounded-pill">SIGNUP</button> 
        </div>
        <div class="col-md-4 mt-3" >
            <button type="button" class="btn btn-success w-100 rounded rounded-pill">LOGIN</button>
        </div>
    </div>
    </div>

</div>
